body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    background-color: #1d202b;
    padding: 20px;
    position: fixed;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.side_menu__logo {
    width: 100%;
    height: 60px;
    margin-bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b0b3b8;
}

.log_out {
    width: 100%;
    height: 20px;
    margin-bottom: 42px;
    color: #b0b3b8;
    padding: 15px;
    cursor: pointer;
    text-align: left;
    font-size: 19px;
}

.log_out i {
    margin-right: 10px;
}

.log_out a {
    color: #b0b3b8;
    text-decoration: none;
}

.menu-btn {
    display: block;
    background-color: transparent;
    color: #b0b3b8;
    border: 2px solid transparent;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 19px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.menu-btn i {
    margin-right: 10px;
}

.menu-btn.active {
    color: #005ffe;
    background-color: #17141a;
}

.console__container {
    margin-left: 260px;
    padding: 26px 73px;
    background: #151820;
    color: #333;
    min-height: 100vh;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: none;
}

.console__container.active {
    display: block;
}

.crypto-container {
    width: 100%;
    background-color: #1d202b;
    color: white;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 15px auto;
    margin-top: 10px !important;
}

.crypto-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 29px;
    border-bottom: 2px solid gray;
    padding-top: 11px;
}

.crypto-header .logo-name {
    display: flex;
    align-items: center;
}

.crypto-header .logo-name i {
    font-size: 30px;
    margin-right: 10px;
}

.crypto-header .last-price {
    font-size: 11px;
    font-weight: bold;
    font-family: inherit;
    color: #2267d1;
    padding: 5px 7px;
    border: 1px solid;
    border-radius: 30px;
    background: #a6eeff;
}

.crypto-footer {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;

}

#btc_symbol,
#eth_symbol,
#ltc_symbol {
    color: #b0b3b8;
}

.logo-name i {
    font-size: 45px !important;
}

.last__price {
    color: green;
    font-size: 18px;
}

.crypto-footer .price {
    color: whitesmoke;
    font-weight: 400;
}

/*  CRYPTO COUNTER CALCULATOR BEGIN */
.crypto_counter__header h2 {
    margin: 0;
    font-size: 34px;
    font-weight: 500;
}

.crypto_counter__header p {
    margin: 10px 0px 0px 0px !important;
    color: #b0b3b8;
}

.converter {
    margin: 21px auto;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.converter_input {
    background-color: #2a2d39;
    border: none;
    color: #fff;
    font-size: 18px;
    width: 80%;
    text-align: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 17px;
}

.converter_currency {
    width: 20%;
    height: 55px;
    background-color: #2a2d39;
    margin-left: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.converted_currency {
    height: 54px !important;
}

/* .input-group span {
    font-size: 18px;
    color: #fff;
} */

input:focus {
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 15px 20px;
    background-color: #005ffe;
    color: #fff;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    flex: 1;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.button:hover {
    background-color: #004dcc;
    box-shadow: 0px 14px 28px rgba(0, 95, 254, 0.25), 0px 6px 5px rgba(0, 95, 254, 0.22)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* market */
.console_market__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.market_header_inner {
    display: flex;
    flex-direction: column;
}

.market_header_inner h2 {
    margin: 0;
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.market_header_inner p {
    color: #b0b3b8;
    margin: 15px 0px 15px 0px;
}

.market_header_inner1 {
    width: 264px;
    padding: 23px;
    background-color: #1d202b;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.market_header_inner1 input {
    background: #252938;
    border: none;
    border-radius: 20px;
    padding: 15px;
    color: white;
    width: 220px;
}

#crypto-table {
    width: 100%;
    border-radius: 20px;
    background: white;
    padding: 20px !important;
}

#crypto-table th,
#crypto-table td {
    padding: 15px;
    text-align: left;
}

#crypto-table-body tr {
    height: 58px;
    font-size: 20px;
    font-weight: 400;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

/* loader */
.loader_main {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(32, 41, 33);
    z-index: 12000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    background-color: rgb(32, 41, 33);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* WALLET BEGIN */
.wallet_switcher__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet_switcher__main h2 {
    color: white;
    font-weight: 500;
    font-size: 30px;
}

.switcher {
    display: flex;
    background-color: #2C2F36;
    border-radius: 25px;
    overflow: hidden;
}

.switcher button {
    padding: 16px 45px;
    border: none;
    cursor: pointer;
    background-color: #2C2F36;
    color: #fff;
    font-size: 17px;
    transition: background-color 0.3s;
    font-weight: 600;
}

.switcher button.active {
    background-color: #005ffe;
    border-radius: 25px;
}

.wallets {
    display: flex;
    /* justify-content: center; */
    margin-top: 20px;
}

.wallet {
    width: 47%;
    height: 325px;
    background-color: #1d202b;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.wallet1 {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
}

.crypto_wallet_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crypto_wallet_container i {
    font-size: 77px;
    font-weight: 500;
    color: white;
}

.crypto_wallet_container p {
    margin: 0;
    color: #b0b3b8;
}

.fiat_wallet_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fiatWallet_container__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.BTC_icon {
    background-color: #fe8e02;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.BTC_icon::before {
    content: "₿";
    transform: rotate(15deg);
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.tether_icon {
    background-color: #01a180;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.tether_icon::before {
    content: "₮";
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.ETH_icon {
    background-color: #5080ef;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.ETH_icon::before {
    content: "ξ";
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.MATIC_icon {
    background-color: #006bf7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.MATIC_icon::before {
    content: "m";
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.DOGE_icon {
    background-color: #cba532;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.DOGE_icon::before {
    content: "Ɖ";
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.USD_icon {
    background-color: #0de133;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.USD_icon::before {
    content: "$";
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.EUR_icon {
    background-color: #0092f9;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.EUR_icon::before {
    content: "€";
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.crypto_name>p {
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 7px;
}

.crypto_balance {
    margin: 0;
    font-size: 16px !important;
    text-align: center;
    color: #b0b3b8 !important;
}

.transaction_cointainer_but {
    width: 129px;
}

.wallet:hover {
    background-color: #242733;
}

.wallet span {
    font-size: 18px;
    color: #fff;
}

.wallets .hidden {
    display: none;
}

/* WALLET END */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mobiletest {
    display: none;
}

@media screen and (max-width:1324px) {
    .table_container {
        overflow-x: scroll;
    }

    .wallet {
        width: 100%;
    }
}

/* loader end */
@media screen and (max-width: 768px) {
    .side-menu {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .crypto-container {
        width: auto;
        margin: 0px 10px;
    }

    .log_out {
        width: auto;
    }

    .side_menu__items {
        margin-top: 20px;
        padding: 0px 10px;
    }

    .menu-btn {
        padding: 10px;
        margin: 5px 0;
        font-size: 14px;
    }

    .console__container {
        margin-left: 0;
        padding: 26px 0px;
        /* margin-top: 20px; */
    }

    #home {
        width: 100%;
    }

    .side-menu {
        display: none !important;
    }

    .mobiletest {
        display: block !important;
        background: #1d202b;
    }

    .side_menu__logo {
        margin-bottom: 0;
    }

    .mobile-test {
        display: none;
    }

    .log_out {
        margin-bottom: 0;
        padding: 15px 18px;
    }

    #crypto-table-body tr {
        font-size: 15px;
    }

    #crypto-table {
        padding: 0px !important;
    }

    .wallet {
        width: 100%;
    }

    .switcher button {
        padding: 11px 29px;
    }

    .mobile_menu__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile_menu__logo img {
        margin-right: 10px;
        width: 35px;
        cursor: pointer;
    }

    .mobile_menu__logo h1 {
        margin-left: 10px !important;
    }
}

@media screen and (max-width:549px) {
    .console_market__header {
        flex-direction: column;
    }

    .market_header_inner1 {
        padding: 0px;
        background-color: transparent;
        width: 100%;
    }

    .market_header_inner1 input {
        width: 90%;
    }

    .crypto-header .logo-name i {
        font-size: 30px !important;
    }

    .logo-name div>span {
        font-size: 22px;
    }

    .console__crypto_name {
        font-size: 21px !important;
    }

    .console__crypto_abr {
        font-size: 16px !important;
    }

    .price {
        font-size: 20px;
    }

    .crypto_counter__header h2 {
        font-size: 23px;
    }

    .crypto_counter__header p {
        font-size: 14px;
    }

    .converter_input {
        padding: 10px;
    }

    .converter_currency {
        height: 41px !important;
    }

    .button {
        padding: 11px 16px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .side-menu {
        flex-direction: column;
    }

    .menu-btn {
        font-size: 12px;
        padding: 8px;
        margin: 5px 0;
    }
    .buttons{
        flex-direction: column !important;
    }
}

@media screen and (max-width:378px) {
    .button {
        padding: 8px 9px;
        font-size: 13px;
    }
}